@charset "utf-8";

body {
    position: relative;
    background: color #e5e5e5;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
}
li{
    list-style: none;
}

.TitleClass{
    display: block;
    position: relative;
    height: 112px;
}
#Title{
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    height: 46px;
    color: #010101;
    float: left;
    margin: 2% 2% 2% 2%;
}
#MenuButton{
    float: right;
    line-height: 46px;
    height: 46px;
    float: right;
    margin: 2% 2% 2% 2%;
}

.Columns{
    display: block;
    position: absolute;
    left: 0;
    padding-left: 2%;
}
.ColumnClass{
    width: 30%;
    display: block;
    float: left;
}
.ColumnHead{
    display: block;
    padding-right: 10%;
}
#ColumnTitle{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    display: flex;
    align-items: center;

    color: #010101;

    flex: none;
    order: 0;
    flex-grow: 0;
    float: left;
}
#ListCount{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    margin: 5px;
    gap: 10px;

    width: 26px;
    height: 26px;

    background: #BDBDBD;
    border-radius: 20px;

    flex: none;
    order: 1;
    flex-grow: 0;
}
.ColumnList{
    left: 0;
    float: left;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    margin: 2px;

    width: auto;
    background: #FFFFFF;

    box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
    border-radius: 6px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.ButtonGroup{
    position: relative;
    align-items: center;
    float: right;
}

#AddButton:hover{
    color: #0075de;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

#RemoveButton:hover{
    color: #ff4343;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

#BoxTitle{
    width: 252px;
    height: 23px;

    font-weight: 700;
    font-size: 16px;
    line-height: 23px;

    color: #010101;

    flex: none;
    order: 0;
    flex-grow: 0;
}
#BoxContent{
    width: 252px;
    height: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #010101;

    flex: none;
    order: 1;
    flex-grow: 0;
}

#BoxTitleInput{
    width: 252px;
    height: 23px;

    font-weight: 700;
    font-size: 16px;
    line-height: 23px;

    color: #010101;

    flex: none;
    order: 0;
    flex-grow: 0;
}
#BoxContentInput{
    width: 252px;
    height: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #010101;

    flex: none;
    order: 1;
    flex-grow: 0;
}
.CancelButton{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    width: 134px;
    height: 40px;

    background: #E0E0E0;
    border-radius: 6px;

    flex: none;
    order: 0;
    flex-grow: 0;

    text-align: center;
    transition: all .5s;
}
.RegisterButton{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    
    width: 134px;
    height: 40px;
    
    background: #0075DE;
    border-radius: 6px;
    
    flex: none;
    order: 1;
    flex-grow: 0;

    text-align: center;
    transition: all .5s;
}

#BoxAuthor{
    width: 252px;
    height: 17px;

    font-weight: 400;
    font-size: 12px;
    line-height: 17px;

    color: #BDBDBD;

    flex: none;
    order: 2;
    flex-grow: 0;
}


.SideMenu{
    width: 452px;
    left: 988px;
    top: 0px;

    background: #FFFFFF;

    box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    float: right;
    visibility: hidden;
}
#SmileIcon{
    width: 40px;
    height: 40px;

    background: url(Untitled-1.png);

    flex: none;
    order: 0;
    flex-grow: 0;
}
#MenuShow {
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}
#MenuShow:hover {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
 }